.Header {
    background: #607d8b;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field {
    width: 500px;
    margin-right: 10px;
}

.form {
    display: flex;
}

.Main {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.Movie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-title-link {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
}